body{
    background-color: #ECE0FF;
}
p{
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: left;
    text-decoration: underline;
    padding-left: 55px
}
a{
    color: #3D1AEB
}
a:hover{
    color: magenta;
}
.highlight{
    font-weight: bold;
    color: #9B5FD9
}